.photogallery {
   
    width: 90%;
    
    margin: 0 5% 5% 5%;

    display: flex;
    padding: 90px;
    gap: 2.5%;

}

.gallery1,
.gallery2,
.gallery3 {

    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.vedio1 {
    width: 100%;
    height: 200px;
    border-radius: 10%;

}

.gallery2 {
    gap: 28px;
}

.gallery3 {
    gap: 32px;
}

.gall1img,
.gall1img1,
.gall1img2 {

    border-radius: 10%;
    ;
    width: 100%;
    height: 290px;

}

.gall1img1 {
    height: 340px;
}

.gall1img2 {
    height: 370px;

}

.gall1img2:hover {
    transform: translate(5px);
    box-shadow: 0 0 10px black;
}

.gall1img1:hover {
    transform: translate(0, 5px);
    box-shadow: 0 0 10px black;

}

.gall1img:hover {
    transform: translate(0, 5px);
    box-shadow: 0 0 10px black;
}

.vedio1:hover {
    transform: scale(3);

}