body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
::-webkit-scrollbar{
  width: 0.7rem;
}
::-webkit-scrollbar-track{
  background-color: rgba(255, 255, 255, 0);
}
::-webkit-scrollbar-thumb{
  background-color: rgb(255, 0, 221);
  border-radius: 10px;




}
